<div class="application">
  <h1>IMTI Applications</h1>

  <% if @application.present?  %>
    <p><%= current_user.last_name %>, <%= current_user.first_name %> - <%= link_to 'View application', "/applications/#{@application.id}"%></p>
  <% end %>
</div>


