<section class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb_section">
                    <!-- Breadcumb page title start -->
                    <div class="page_title">
                        <!-- Once we have devise controllers imported into our rails app, need to add @title = "Register" -->
                        <h3><%= page_title %></h3>
                    </div>
                    <!-- Breadcumb page pagination start -->
                    <div class="page_pagination">
                        <ul>
                            <li><%= link_to "Home", "/" %></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <!-- Once we have devise controllers imported into our rails app, need to add @title = "Register" -->
                            <li><%= page_title %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
