<!-- ===================== Welcome Area Start ===================== -->
    <section class="welcome_area" id="home">
        <div class="welcome_slides">
            <!-- Single Slide Start -->
            <div class="single_slide" style="background-image: url(assets/img/bg-pattern/slider-1.jpg);">
                <div class="slide_text">
                    <div class="table">
                        <div class="table_cell">
                            <h2>Education is Power</h2>
                            <h3>Educating the mind without educating the heart is no education at all.</h3>
                            <div class="welcome_btn">
                                <a class="btn btn-1 btn-default btn-lg active" href="#" role="button">Learn More</a>
                                <a class="btn btn-2 btn-default btn-lg" href="#" role="button">Start a Course</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide Start -->
            <div class="single_slide" style="background-image: url(assets/img/bg-pattern/slider-2.jpg);">
                <div class="slide_text">
                    <div class="table">
                        <div class="table_cell">
                            <h2>EduCamp is Awesome</h2>
                            <h3>Education is the most powerful weapon which you can use to change the world.</h3>
                            <div class="welcome_btn">
                                <a class="btn btn-1 btn-default btn-lg active" href="#" role="button">Enroll Now</a>
                                <a class="btn btn-2 btn-default btn-lg" href="#contact" role="button">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- ===================== Welcome Area End ===================== -->

    <!-- ===================== Awesome Feature Area Start ===================== -->
    <section class="awesome_features_area home2 section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading wow fadeInUp">
                        <img src="assets/img/icon-img/icon.png" alt="">
                        <h4>Best Services</h4>
                    </div>
                    <!-- Section Heading End -->
                </div>
            </div>
            <!-- end./ row -->

            <div class="row">
                <!-- Single Feature Area Start -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.2s">
                        <div class="feature_img">
                            <span class="icon-genius"></span>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>Effective Courses</h5>
                            <p>Lorem ipsum dolors item amet coti adipisicing elt, sed do eimd at.</p>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>
                <!-- Single Feature Area End -->

                <!-- Single Feature Area Start -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.4s">
                        <div class="feature_img">
                            <span class="icon-profile-male"></span>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>Best Course Teachers</h5>
                            <p>Lorem ipsum dolors item amet coti adipisicing elt, sed do eimd at.</p>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>
                <!-- Single Feature Area End -->

                <!-- Single Feature Area Start -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.6s">
                        <div class="feature_img">
                            <span class="icon-compass"></span>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>Practical Classes</h5>
                            <p>Lorem ipsum dolors item amet coti adipisicing elt, sed do eimd at.</p>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>
                <!-- Single Feature Area End -->

                <!-- Single Feature Area Start -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.8s">
                        <div class="feature_img">
                            <span class="icon-gift"></span>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>Organised Classroom</h5>
                            <p>Lorem ipsum dolors item amet coti adipisicing elt, sed do eimd at.</p>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>
                <!-- Single Feature Area End -->

            </div>
            <!-- end./ row -->
        </div>
        <!-- end./ container -->
        <%= yield %>
    </section>
    <!-- ===================== Awesome Feature Area End ===================== -->

    <!-- ===================== Popular Courses Area Start ===================== -->
    <section class="popular_coureses_area home2 grid_coundown section_padding_60">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Section Heading Area Start -->
                    <div class="section_heading wow fadeInUp">
                        <img src="assets/img/icon-img/coures-icon.png" alt="">
                        <h4>Upcoming Events</h4>
                    </div>
                    <!-- Section Heading Area End -->
                </div>
            </div>

            <div class="row">
                <!-- Single Courses Area Start -->
                <div class="col-md-4 col-xs-12">
                    <div class="single_courses wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single_courses_thumb">
                            <img src="assets/img/course-img/event-1.jpg" alt="">
                            <div class="hover_overlay">
                                <div class="links">
                                    <a class="magnific-popup" href="assets/course-img/event-1.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Courses Image Area End -->
                        <div class="single_courses_desc">
                            <!-- Single Courses Title Area End -->
                            <div class="title">
                                <a href="#"><h5>7 Quick Ways to Make a Great Event Successful</h5></a>
                                <div class="date_time">
                                    <div class="date">
                                        <p><span class="icon-calendar"></span> 16 Sep, 2017</p>
                                    </div>
                                    <div class="time">
                                        <p><span class="icon-clock"></span> 20:30</p>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic sunt</p>
                            </div>
                            <!-- Single Courses Blog Title Area End -->

                            <div class="price_rating_area">
                                <ul data-countdown="2018/01/01 14:21:37" class="timer">
                                    <!-- Please use event time this format: YYYY/MM/DD hh:mm:ss -->
                                    <li><span class="days">0</span>d</li>
                                    <li><span class="hours">0</span>h</li>
                                    <li><span class="minutes">00</span>m</li>
                                    <li><span class="seconds">00</span>s</li>
                                </ul>
                            </div>
                            <!-- Event Coundown area End -->
                        </div>
                    </div>
                </div>
                <!-- Single Courses Area End -->

                <!-- Single Courses Area Start -->
                <div class="col-md-4 col-xs-12">
                    <div class="single_courses wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single_courses_thumb">
                            <img src="assets/img/course-img/event-2.jpg" alt="">
                            <div class="hover_overlay">
                                <div class="links">
                                    <a class="magnific-popup" href="assets/course-img/event-2.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Courses Image Area End -->
                        <div class="single_courses_desc">
                            <!-- Single Courses Title Area End -->
                            <div class="title">
                                <a href="#"><h5>Science &amp; IT Fair Coming to Your University</h5></a>
                                <div class="date_time">
                                    <div class="date">
                                        <p><span class="icon-calendar"></span> 16 Sep, 2017</p>
                                    </div>
                                    <div class="time">
                                        <p><span class="icon-clock"></span> 20:30</p>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic sunt </p>
                            </div>
                            <!-- Single Courses Blog Title Area End -->

                            <div class="price_rating_area">
                                <ul data-countdown="2017/01/01 14:21:12" class="timer">
                                    <!-- Please use event time this format: YYYY/MM/DD hh:mm:ss -->
                                    <li><span class="days">0</span>d</li>
                                    <li><span class="hours">0</span>h</li>
                                    <li><span class="minutes">00</span>m</li>
                                    <li><span class="seconds">00</span>s</li>
                                </ul>
                            </div>
                            <!-- Event Coundown area End -->
                        </div>
                    </div>
                </div>
                <!-- Single Courses Area End -->

                <!-- Single Courses Area Start -->
                <div class="col-md-4 col-xs-12">
                    <div class="single_courses wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single_courses_thumb">
                            <img src="assets/img/course-img/event-3.jpg" alt="">
                            <div class="hover_overlay">
                                <div class="links">
                                    <a class="magnific-popup" href="assets/course-img/event-3.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Courses Image Area End -->
                        <div class="single_courses_desc">
                            <!-- Single Courses Title Area End -->
                            <div class="title">
                                <a href="#"><h5>7 Quick Ways to Make a Great Event Successful</h5></a>
                                <div class="date_time">
                                    <div class="date">
                                        <p><span class="icon-calendar"></span> 16 Sep, 2017</p>
                                    </div>
                                    <div class="time">
                                        <p><span class="icon-clock"></span> 20:30</p>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic sunt</p>
                            </div>
                            <!-- Single Courses Blog Title Area End -->

                            <div class="price_rating_area">
                                <ul data-countdown="2018/05/07 14:21:45" class="timer">
                                    <!-- Please use event time this format: YYYY/MM/DD hh:mm:ss -->
                                    <li><span class="days">0</span>d</li>
                                    <li><span class="hours">0</span>h</li>
                                    <li><span class="minutes">00</span>m</li>
                                    <li><span class="seconds">00</span>s</li>
                                </ul>
                            </div>
                            <!-- Event Coundown area End -->
                        </div>
                    </div>
                </div>
                <!-- Single Courses Area End -->
            </div>
        </div>
    </section>
    <!-- ===================== Popular Courses Area End ===================== -->

    <!-- ===================== Why Chooses Area Start ===================== -->
    <section class="why_choose_us_area home2 section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section_heading wow fadeInUp">
                        <img src="assets/img/icon-img/why-choose-icon.png" alt="">
                        <h4>WHY Choose Us</h4>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- Single why choose area start -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single_service wow fadeInUp" data-wow-delay="0.1s">
                        <div class="single_service_img_area">
                            <div class="border">
                                <!-- Single why choose image -->
                                <div class="single_service_img">
                                    <span class="icon-linegraph"></span>
                                </div>
                                <!-- Single why choose title -->
                                <div class="service_title">
                                    <h5>HIGHest RATED</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single why choose area start -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single_service wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single_service_img_area">
                            <div class="border">
                                <!-- Single why choose image -->
                                <div class="single_service_img">
                                    <span class="icon-presentation"></span>
                                </div>
                                <!-- Single why choose title -->
                                <div class="service_title">
                                    <h5>ONLINE TRAINING</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single why choose area start -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single_service wow fadeInUp" data-wow-delay="0.3s">
                        <div class="single_service_img_area">
                            <div class="border">
                                <!-- Single why choose image -->
                                <div class="single_service_img">
                                    <span class="icon-global"></span>
                                </div>
                                <!-- Single why choose title -->
                                <div class="service_title">
                                    <h5>we are GLOBAL</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single why choose area start -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single_service wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single_service_img_area">
                            <div class="border">
                                <!-- Single why choose image -->
                                <div class="single_service_img">
                                    <span class="icon-lightbulb"></span>
                                </div>
                                <!-- Single why choose title -->
                                <div class="service_title">
                                    <h5>Creative Solution</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single why choose area start -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single_service wow fadeInUp" data-wow-delay="0.5s">
                        <div class="single_service_img_area">
                            <div class="border">
                                <!-- Single why choose image -->
                                <div class="single_service_img">
                                    <span class="icon-book-open"></span>
                                </div>
                                <!-- Single why choose title -->
                                <div class="service_title">
                                    <h5>SKILLED FACULTY</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single_service wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single_service_img_area">
                            <div class="border">
                                <!-- Single why choose image -->
                                <div class="single_service_img">
                                    <span class="icon-layers"></span>
                                </div>
                                <!-- Single why choose title -->
                                <div class="service_title">
                                    <h5>Large e-library</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single why choose area start -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single_service wow fadeInUp" data-wow-delay="0.7s">
                        <div class="single_service_img_area">
                            <div class="border">
                                <!-- Single why choose image -->
                                <div class="single_service_img">
                                    <span class="icon-browser"></span>
                                </div>
                                <!-- Single why choose title -->
                                <div class="service_title">
                                    <h5>Free Webinars</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single why choose area start -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single_service wow fadeInUp" data-wow-delay="0.8s">
                        <div class="single_service_img_area">
                            <div class="border">
                                <!-- Single why choose image -->
                                <div class="single_service_img">
                                    <span class="icon-genius"></span>
                                </div>
                                <!-- Single why choose title -->
                                <div class="service_title">
                                    <h5>Online Research</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end. row -->
        </div>
        <!-- end. container -->
    </section>
    <!-- ===================== Why Chooses Area End ===================== -->

    <!-- ===================== Cool Facts Area Start ===================== -->
    <section class="cool_facts_area home2 section_padding_60">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <span class="icon-gift"></span>
                        <h3><span class="counter">47</span></h3>
                        <h5>Free Courses</h5>
                    </div>
                    <!-- Single Cool Facts area End -->
                </div>

                <div class="col-xs-12 col-sm-4 col-md-2">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <span class="icon-adjustments"></span>
                        <h3><span class="counter">3</span>k+</h3>
                        <h5>Seats</h5>
                    </div>
                    <!-- Single Cool Facts area End -->
                </div>

                <div class="col-xs-12 col-sm-4 col-md-2">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <span class="icon-profile-male"></span>
                        <h3><span class="counter">105</span></h3>
                        <h5>TEACHERS</h5>
                    </div>
                    <!-- Single Cool Facts area End -->
                </div>

                <div class="col-xs-12 col-sm-4 col-md-2">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <span class="icon-lightbulb"></span>
                        <h3><span class="counter">5</span>k+</h3>
                        <h5>Graduates</h5>
                    </div>
                    <!-- Single Cool Facts area End -->
                </div>

                <div class="col-xs-12 col-sm-4 col-md-2">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <span class="icon-happy"></span>
                        <h3><span class="counter">953</span></h3>
                        <h5>Happy Students</h5>
                    </div>
                    <!-- Single Cool Facts area End -->
                </div>

                <div class="col-xs-12 col-sm-4 col-md-2">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <span class="icon-trophy"></span>
                        <h3><span class="counter">21</span></h3>
                        <h5>Awards</h5>
                    </div>
                    <!-- Single Cool Facts area End -->
                </div>

            </div>
        </div>
    </section>
    <!-- ===================== Why Chooses Area End ===================== -->

    <!-- ===================== Student Gallery Area Start ===================== -->
    <section class="gallery_area home2 clearfix section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section_heading wow fadeInUp">
                        <img src="assets/img/icon-img/gallery.png" alt="">
                        <h4>Student Gallery</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery_full_width_images_area">

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix wow fadeInUp" data-wow-delay="0.2s">
                <img src="assets/img/gallery/1.jpg" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="gallery_info">
                        <h5>Gallery One</h5>
                        <p>Event &amp; Planning</p>
                    </div>
                    <!-- Popup links -->
                    <div class="links">
                        <a class="magnific-popup" href="assets/gallery/1.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix wow fadeInUp" data-wow-delay="0.4s">
                <img src="assets/img/gallery/2.jpg" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="gallery_info">
                        <h5>Gallery Two</h5>
                        <p>Bio-chemistry</p>
                    </div>
                    <!-- Popup links -->
                    <div class="links">
                        <a class="magnific-popup" href="assets/gallery/2.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix wow fadeInUp" data-wow-delay="0.6s">
                <img src="assets/img/gallery/3.jpg" alt="">
                <div class="hover_overlay">
                    <div class="gallery_info">
                        <h5>Gallery Three</h5>
                        <p>Meeting</p>
                    </div>
                    <!-- Popup links -->
                    <div class="links">
                        <a class="magnific-popup" href="assets/gallery/3.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix wow fadeInUp" data-wow-delay="0.8s">
                <img src="assets/img/gallery/4.jpg" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="gallery_info">
                        <h5>Gallery Four</h5>
                        <p>Studing</p>
                    </div>
                    <!-- Popup links -->
                    <div class="links">
                        <a class="magnific-popup" href="assets/gallery/4.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix wow fadeInUp" data-wow-delay="1s">
                <img src="assets/img/gallery/5.jpg" alt="">
                <div class="hover_overlay">
                    <div class="gallery_info">
                        <h5>Gallery Five</h5>
                        <p>Team Work</p>
                    </div>
                    <!-- Popup links -->
                    <div class="links">
                        <a class="magnific-popup" href="assets/gallery/5.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix wow fadeInUp" data-wow-delay="1.2s">
                <img src="assets/img/gallery/6.jpg" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="gallery_info">
                        <h5>Gallery Six</h5>
                        <p>Studing</p>
                    </div>
                    <!-- Popup links -->
                    <div class="links">
                        <a class="magnific-popup" href="assets/gallery/6.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix wow fadeInUp" data-wow-delay="1.4s">
                <img src="assets/img/gallery/7.jpg" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="gallery_info">
                        <h5>Gallery Seven</h5>
                        <p>IT Coures</p>
                    </div>
                    <!-- Popup links -->
                    <div class="links">
                        <a class="magnific-popup" href="assets/gallery/7.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix wow fadeInUp" data-wow-delay="1.6s">
                <img src="assets/img/gallery/8.jpg" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="gallery_info">
                        <h5>Gallery Eight</h5>
                        <p>In Campus</p>
                    </div>
                    <!-- Popup links -->
                    <div class="links">
                        <a class="magnific-popup" href="assets/gallery/8.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ===================== Student Gallery Area End ===================== -->

    <!-- ===================== Call to action Area Start ===================== -->
    <div class="call_to_action">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="call_to">
                        <h3>Bring your career on the right track. Start today!</h3>
                        <a class="btn btn-default" href="#" role="button">Get Started <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===================== Call to action Area End ===================== -->

    <!-- ===================== Price and Plans Area Start ===================== -->
    <div class="price_plan_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section_heading wow fadeInUp">
                        <img src="assets/img/icon-img/why-choose-icon.png" alt="">
                        <h4>Pick Your plan</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <!-- Single Price Plan Area Start -->
                <div class="col-sm-6 col-md-3">
                    <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s">
                        <div class="title">
                            <h3>Trial</h3>
                        </div>
                        <div class="price">
                            <h4>$0</h4>
                        </div>
                        <div class="description">
                            <p>Duration: 7days</p>
                            <p>Online Course</p>
                            <p>Monthly Exam</p>
                            <p>No Hidden Fees</p>
                            <p>100+ Video Lesson</p>
                            <p>5 Practical Class</p>
                        </div>
                        <div class="button">
                            <a class="btn btn-default" href="#" role="button">Enroll Now</a>
                        </div>
                    </div>
                </div>
                <!-- Single Price Plan Area End -->

                <!-- Single Price Plan Area Start -->
                <div class="col-sm-6 col-md-3">
                    <div class="single_price_plan wow fadeInUp" data-wow-delay="0.4s">
                        <div class="title">
                            <h3>Silver</h3>
                        </div>
                        <div class="price">
                            <h4>$99</h4>
                        </div>
                        <div class="description">
                            <p>Duration: 30days</p>
                            <p>Online Course</p>
                            <p>Monthly Exam</p>
                            <p>No Hidden Fees</p>
                            <p>100+ Video Lesson</p>
                            <p>5 Practical Class</p>
                        </div>
                        <div class="button">
                            <a class="btn btn-default" href="#" role="button">Enroll Now</a>
                        </div>
                    </div>
                </div>
                <!-- Single Price Plan Area End -->

                <!-- Single Price Plan Area Start -->
                <div class="col-sm-6 col-md-3">
                    <div class="single_price_plan wow fadeInUp" data-wow-delay="0.6s">
                        <div class="title">
                            <h3>Gold</h3>
                        </div>
                        <div class="price">
                            <h4>$199</h4>
                        </div>
                        <div class="description">
                            <p>Duration: 90days</p>
                            <p>Online Course</p>
                            <p>Monthly Exam</p>
                            <p>No Hidden Fees</p>
                            <p>100+ Video Lesson</p>
                            <p>5 Practical Class</p>
                        </div>
                        <div class="button">
                            <a class="btn btn-default" href="#" role="button">Enroll Now</a>
                        </div>
                    </div>
                </div>
                <!-- Single Price Plan Area End -->

                <!-- Single Price Plan Area Start -->
                <div class="col-sm-6 col-md-3">
                    <div class="single_price_plan wow fadeInUp" data-wow-delay="0.6s">
                        <div class="title">
                            <h3>Pro</h3>
                        </div>
                        <div class="price">
                            <h4>$399</h4>
                        </div>
                        <div class="description">
                            <p>Duration: 90days</p>
                            <p>Online Course</p>
                            <p>Monthly Exam</p>
                            <p>No Hidden Fees</p>
                            <p>100+ Video Lesson</p>
                            <p>5 Practical Class</p>
                        </div>
                        <div class="button">
                            <a class="btn btn-default" href="#" role="button">Enroll Now</a>
                        </div>
                    </div>
                </div>
                <!-- Single Price Plan Area End -->

            </div>
        </div>
    </div>
    <!-- ===================== Price and Plans Area End ===================== -->

    <!-- ===================== Testimonial Area Start ===================== -->
    <section class="testimonial_area home2 section_padding_60">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="testimonials_home2">

                        <!-- Single testimonial area start  -->
                        <div class="single_testimonial_area_home2">
                            <!-- Single testimonial thumb  -->
                            <div class="testimonial_thumb">
                                <img src="assets/img/teacher-img/team-member-1.jpg" alt="">
                            </div>
                            <!-- Single testimonial text  -->
                            <div class="testimonial_text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti iusto voluptatum voluptas soluta, rem! Deserunt sint nam consequatur laborum, aperiam quod, quo impedit ea. Veniam, doloribus, molestias? Architecto, maxime et?</p>
                                <h5>MD NAZRUL ISLAM</h5>
                                <h6>CEO &amp; Founder, Designing World</h6>
                            </div>
                        </div>

                        <!-- Single testimonial area start  -->
                        <div class="single_testimonial_area_home2">
                            <!-- Single testimonial thumb  -->
                            <div class="testimonial_thumb">
                                <img src="assets/img/teacher-img/team-member-2.jpg" alt="">
                            </div>
                            <!-- Single testimonial text  -->
                            <div class="testimonial_text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti iusto voluptatum voluptas soluta, rem! Deserunt sint nam consequatur laborum, aperiam quod, quo impedit ea. Veniam, doloribus, molestias? Architecto, maxime et?</p>
                                <h5>YASIN RAHMAN</h5>
                                <h6>CEO &amp; Founder, Creativeracer</h6>
                            </div>
                        </div>

                        <!-- Single testimonial area start  -->
                        <div class="single_testimonial_area_home2">
                            <!-- Single testimonial thumb  -->
                            <div class="testimonial_thumb">
                                <img src="assets/img/teacher-img/team-member-4.jpg" alt="">
                            </div>
                            <!-- Single testimonial text  -->
                            <div class="testimonial_text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti iusto voluptatum voluptas soluta, rem! Deserunt sint nam consequatur laborum, aperiam quod, quo impedit ea. Veniam, doloribus, molestias? Architecto, maxime et?</p>
                                <h5>DELOWER HOSAIN</h5>
                                <h6>CEO &amp; Founder, Design Clime</h6>
                            </div>
                        </div>

                        <!-- Single testimonial area start  -->
                        <div class="single_testimonial_area_home2">
                            <!-- Single testimonial thumb  -->
                            <div class="testimonial_thumb">
                                <img src="assets/img/teacher-img/team-member-3.jpg" alt="">
                            </div>
                            <!-- Single testimonial text  -->
                            <div class="testimonial_text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti iusto voluptatum voluptas soluta, rem! Deserunt sint nam consequatur laborum, aperiam quod, quo impedit ea. Veniam, doloribus, molestias? Architecto, maxime et?</p>
                                <h5>LIM SARAH</h5>
                                <h6>CEO &amp; Founder, Priyo Bazaar</h6>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===================== Testimonial Area End ===================== -->

    <!-- ===================== Blog Area Start ===================== -->
    <section class="blog_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section_heading wow fadeInUp">
                        <img src="assets/img/news-img/news-icon.png" alt="">
                        <h4>Blog &amp; News</h4>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- single latest news area start -->
                <div class="col-md-4 col-xs-12">
                    <div class="single_latest_news_area wow fadeInUp" data-wow-delay="0.2s">
                        <!-- single latest news thumb -->
                        <div class="single_latest_news_img_area">
                            <img src="assets/img/news-img/blog.jpg" alt="">
                            <!-- single latest news published date -->
                            <div class="published_date">
                                <p class="date">01</p>
                                <p class="month">Aug</p>
                            </div>
                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- single latest news title -->
                            <div class="news_title">
                                <a href="#"><h4>Improve Your Computer Skills, Sign Up For Free Online Courses</h4></a>
                            </div>
                            <!-- single latest news excerp -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias adipisci voluptate qui laudantium vitae? Impedit pariatur molestiae officia saepe atque. Illum quos maxime maiores, inventore eveniet? Iure, fuga quis. Magni.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- single latest news area start -->
                <div class="col-md-4 col-xs-12">
                    <div class="single_latest_news_area wow fadeInUp" data-wow-delay="0.4s">
                        <!-- single latest news thumb -->
                        <div class="single_latest_news_img_area">
                            <img src="assets/img/news-img/blog-2.jpg" alt="">
                            <!-- single latest news published date -->
                            <div class="published_date">
                                <p class="date">22</p>
                                <p class="month">Dec</p>
                            </div>
                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- single latest news title -->
                            <div class="news_title">
                                <a href="#"><h4>Education is not preparation for life; education is life itself.</h4></a>
                            </div>
                            <!-- single latest news excerp -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias adipisci voluptate qui laudantium vitae? Impedit pariatur molestiae officia saepe atque. Illum quos maxime maiores, inventore eveniet? Iure, fuga quis. Magni.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- single latest news area start -->
                <div class="col-md-4 col-xs-12">
                    <div class="single_latest_news_area wow fadeInUp" data-wow-delay="0.6s">
                        <!-- single latest news thumb -->
                        <div class="single_latest_news_img_area">
                            <img src="assets/img/news-img/blog-3.jpg" alt="">
                            <!-- single latest news published date -->
                            <div class="published_date">
                                <p class="date">13</p>
                                <p class="month">Feb</p>
                            </div>
                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- single latest news title -->
                            <div class="news_title">
                                <a href="#"><h4>Education is the key to unlock the golden door of freedom.</h4></a>
                            </div>
                            <!-- single latest news excerp -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias adipisci voluptate qui laudantium vitae? Impedit pariatur molestiae officia saepe atque. Illum quos maxime maiores, inventore eveniet? Iure, fuga quis. Magni.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end. row -->
        </div>
        <!-- end. container -->
    </section>
    <!-- ===================== Blog Area End ===================== -->

    <!-- ===================== Video Area Start ===================== -->
    <div class="video_area section_padding_60">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="video_play_area wow zoomIn">
                        <div class="video_play_button" id="video">
                            <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="video_btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===================== Video Area End ===================== -->

    <!-- ===================== Contact & FAQ Area Start ===================== -->
    <section class="global_partner_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section_heading wow fadeInUp">
                        <img src="assets/img/news-img/news-icon.png" alt="">
                        <h4>Contact &amp; Faq</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- basic contact info area start -->
                <div class="col-md-6 col-xs-12">
                    <div class="basic_contact_area wow fadeInUp" data-wow-delay="0.2s">
                        <!-- basic contact title -->
                        <h5>HAve a quesions? Write to us.</h5>
                        <!-- basic contact form -->
                        <div class="basic_contact_form">
                            <form action="#">
                                <div class="form-group">
                                    <input type="text" class="form-control pull-left" id="name" placeholder="Your Full Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control pull-right" id="phone" placeholder="Your Phone Number" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="Your E-mail" required>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="question" cols="30" rows="10" placeholder="Your Question" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-default">Get Answer</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="accordions wow fadeInUp" data-wow-delay="0.4s" id="accordion" role="tablist" aria-multiselectable="true">

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5>
                                    <a role="button" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne">How can I apply for a job?
                                        <span class="accor-open">+</span>
                                        <span class="accor-close">-</span>
                                    </a>
                                </h5>
                            <div id="collapseOne" class="accordion-content collapse in">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5>
                                    <a role="button" class="collapsed" aria-expanded="true" aria-controls="two" data-parent="#accordion" data-toggle="collapse"  href="#two">Where can I find out about events?
                                        <span class="accor-open">+</span>
                                        <span class="accor-close">-</span>
                                    </a>
                                </h5>
                            <div id="two" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5>
                                    <a role="button" aria-expanded="true" aria-controls="three" class="collapsed" data-parent="#accordion" data-toggle="collapse"  href="#three">Who can use the libraries? 
                                        <span class="accor-open">+</span>
                                        <span class="accor-close">-</span>
                                    </a>
                                </h5>
                            <div id="three" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5>
                                       <a role="button" aria-expanded="true" aria-controls="four" class="collapsed" data-parent="#accordion" data-toggle="collapse"  href="#four">Are there campus tours for visitors?
                                        <span class="accor-open">+</span>
                                        <span class="accor-close">-</span>
                                    </a>
                                </h5>
                            <div id="four" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5>
                                    <a role="button" aria-expanded="true" aria-controls="five" class="collapsed" data-parent="#accordion" data-toggle="collapse"  href="#five">What is the phone number for the University? 
                                        <span class="accor-open">+</span>
                                        <span class="accor-close">-</span>
                                    </a>
                                </h5>
                            <div id="five" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5>
                                    <a role="button" aria-expanded="true" aria-controls="six" class="collapsed" data-parent="#accordion" data-toggle="collapse"  href="#six">How can I post a job for students?
                                        <span class="accor-open">+</span>
                                        <span class="accor-close">-</span>
                                    </a>
                                </h5>
                            <div id="six" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===================== Contact & FAQ Area End ===================== -->