<h1><%= @course.name %></h1>
<p>start date:</p>
<p>end date:</p>
<p>Price: <%= @course.price %></p>
<p>Description: <%= @course.description %></p>

<button class="btn btn-primary">Register for this course</button>
