<ul> Charges </ul>
<li> Amount: <%= @charge.dollar_amount  %></li>
<li> Description: <%= @charge.description %></li>
<li> Email: <%= @charge.user.email %></li>
<li> Reference Number: <%= @charge.uid %></li>
